.select-box {
    margin: 5px;
    padding: 0;
}

.item, item-heading {
    padding: 4px;
    width: 100%;
    overflow: hidden;
}

.item * {
    font-size: 0.7rem;
}

.item-heading {
    font-size: 1rem;
    margin: 0;
    text-align: center;
    /* text-decoration: underline; */
}

.item img {
    width: 2em;
    margin: auto;
}

.item h4 {
    display: inline-block;
    width: 70%;
    overflow: hidden;
    margin: auto;
}

.helper {
    display: inline-block;
    width: 5%;
}

.description {
    display: block;
    max-height: 0;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: lighter;
    transition: max-height 500ms ease-in;
}

.hover {
    transition-delay: 1s;
    max-height: 100vh;
}

.active img {
    filter: brightness(0.4) invert(1);
}