#nodeList {
    width: 10px;
    height: 10px;
}

.nodeControl {
    background-color: rgba(255, 255, 255, 0.733);
    border-radius: 5px;
    padding: 10px 10px 0px 5px;
}

.workerTime {
    margin-bottom: 5px;
    width: 100%;
}

.workerDiv {
    width: 500px;
}